{% extends "layout.html" %}
{%  block body %}
<h2>Report Results</h2>
{% if error %}<p class="error"><strong>Error:</strong></p> {{ error }}{% endif %}
<table>
    <tr>
        <td>Name</td>
        <td>Region A</td>
        <td>Region B</td>
    </tr>
    {% for item in input_items %}
        <tr>
            <td> {{ EVE_ITEMS_TYPEID_DICT[item]['NAME'] }}</td>
            <td> {{ first_system_prices[item] }}</td>
            <td> {{ second_system_prices[item] }}</td>
        </tr>
{% endfor %}
</table>
{% endblock %}